<div class="container card">
    <div class="row">
        <div class="col-4">
            <img src="{{imageName}}" alt="Avatar">
            <h4 class="title">{{locationName ? locationName : 'Blue Mountains'}}</h4>
            <p>NSW, Australia</p>
            
        </div>
        <div class="col-4">
            <nav>
                <a routerLink="/paypal" routerLinkActive="active">PAYPAL</a>
            </nav>
            <nav>
                <a routerLink="/gpay" routerLinkActive="active">GPAY</a>
            </nav>
            
              <nav>
                <a routerLink="/heros" routerLinkActive="active">HEROS</a>
            </nav>
            <nav>
                <a routerLink="/login" routerLinkActive="active">LOGIN</a>
            </nav>
        </div>
        <div class="container card col-4">
            <!-- <tr *ngFor="let item of posts">
                <td>{{ item.key }}</td>-
                <td>{{ item.value }}</td>
              </tr> -->
            <div>{{ posts | json }}</div>
            <!-- <li 
            *ngFor="let post of posts |keyvalue"
            class="list-group-item">
            <div>{{ post.key }}: {{ post.value }}</div>
        </li> -->
        </div>
    </div>
</div>